*{
    padding: 0px;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: cursive;  
}
body{
    /* background-image: url("img/pink3.png"); */
    /* background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
    background-color: bisque;
    
}

ul{
    list-style: none;
    background-color: palevioletred;
    display: flex;
    padding: 15px;
}
li.but{
    margin-left: 0px;
    color: aliceblue;
    align-items: center;
    font-family: cursive;
}
li:not(li.but){
   margin-right: 0px;
   margin-top: 4px;
}
button{
    background-color: palevioletred;
    filter: drop-shadow(0 0 10px);
    border: 1px solid;
    color: beige;
    border: 1px solid;
    padding: 6px;
    border-radius: 7px;
    margin: 4px;
    margin-top: 0px;
    cursor: pointer;
    }
div.container{
display: flex;
 flex-wrap: wrap;
 justify-content: center;
 gap:20px;
 margin-top: 20px;
}
.nav1{
    background-color: #f9f9f9;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    padding: 15px;
    width: 180px;
    text-align: center;
    transition: transform 0.3s ease;
    
}
.nav1:hover{
    transform: scale(1.05);
}
.nav1 img{
    width: 150px;
    border-radius: 10px;
    height: 200px;
}
div.para{
    height: 170px;
   
}
h1.panier{
background-color: pink;
margin-top: 12px;
box-shadow: 0 8px 10px rgba(0,0,0,0.1);
border-radius: 20px;
margin-bottom: 12px;
padding: 20px;
max-width: 800px;
}
