*{
   
    margin: 0 auto;

}

div.form{
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    max-width: 600px;
    padding: 100px;
     margin-top: 50px;
     text-align: center;
     background-color: rgba(248, 248, 255, 0.26);
     margin-bottom: 20px;
     border-radius: 20px;
}
input{
    padding: 8px;
    border: none;
    box-shadow: 0 8px 10px rgb(0,0 ,0,0.1 )

}
input[type=submit]{
      padding: 12px 25px;
  background-color: #FF4081;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
   filter: drop-shadow(0 0 10px);
   transform: scale(1.05);
}
input[type=submit]:hover{
      background-color: #C2185B;
}
form{
  display: flex;
  flex-direction: column;

  padding: 14px;
  background-color: #FDF6F0;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
  margin:16px auto;
 
}